/* Veo Version: 0.2.0 04.26.26 - Optimized */
@import "../../omarchy/current/theme/waybar.css";

* {
    border: none;
    border-radius: 0;
    font-family: 'JetBrainsMono Nerd Font', monospace; 
    font-size: 12px;
}

window#waybar {
    background-color: @background;
    color: @foreground;
}

.modules-left, .modules-center, .modules-right {
    margin: 0;
    padding: 0;
}

#workspaces button {
    all: initial;
    color: @foreground;
    padding: 4px 0;
    margin: 0;
}
#workspaces button.empty {
    opacity: 0.5;
}

#cpu, 
#pulseaudio, 
#network, 
#custom-update, 
#custom-test-tray { /* (REMOVE AFTER TESTING) */
    margin: 0;
    padding: 4px 0;
}

#custom-update, 
#custom-test-tray { /* (REMOVE AFTER TESTING) */
    font-size: 10px;
}

#custom-omarchy {
    margin: 5px 0;
    padding: 4px 0; 
}

#clock {
    margin: 5px 0 8px 0; 
    padding: 0;
}

tooltip {
    background-color: @background;
    border: 1px solid @foreground;
}
tooltip label {
    color: @foreground;
    padding: 4px;
}

.hidden {
    opacity: 0;
}
