/* Hide the top tab bar */
#TabsToolbar {
  visibility: collapse !important;
}

/* Hide the sidebar header */
#sidebar-header {
  display: none !important;
}

/* Splitter pywalfox colors */
#sidebar-splitter {
  opacity: 0 !important;
}
